@import "toc.scss";
$default-theme: rgb(255,255,255);
$black-color:rgb(0,0,0);
$default-font: #fff;
$page-width: 300px;
@mixin border-radius($radius:5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
}
@mixin fontFace($family,$src,$weight: normal,$style: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
            url('#{$src}.woff') format('woff'), // standards
            url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
            url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}
@mixin linear-gradient($angle, $color-stops...) {
  $_angle-with-vendor-prefix: "";
  $_angle: "";
  @if $angle == "to top" or $angle == "bottom" {
    $_angle-with-vendor-prefix: bottom;
    $_angle: to top;
  } @else if $angle == "to right" or $angle == "left" {
    $_angle-with-vendor-prefix: left;
    $_angle: to right;
  } @else if $angle == "to bottom" or $angle == "top" {
    $_angle-with-vendor-prefix: top;
    $_angle: to bottom;
  } @else if $angle == "to left" or $angle == "right" {
    $_angle-with-vendor-prefix: right;
    $_angle: to left;
  } @else if $angle == "to top right" or $angle == "bottom left" {
    $_angle-with-vendor-prefix: bottom left;
    $_angle: to top right;
  } @else if $angle == "to bottom right" or $angle == "top left" {
    $_angle-with-vendor-prefix: top left;
    $_angle: to bottom right;
  } @else if $angle == "to bottom left" or $angle == "top right" {
    $_angle-with-vendor-prefix: top right;
    $_angle: to bottom left;
  } @else if $angle == "to top left" or $angle == "bottom right" {
    $_angle-with-vendor-prefix: bottom right;
    $_angle: to top left;
  } @else {
    $_angle-with-vendor-prefix: $angle % 360;
    $_angle: (90 - $angle) % 360;
  }
  background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: linear-gradient($_angle, $color-stops);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
        -webkit-transform: $transforms;
          transform: $transforms;
}
@mixin user-select ($val){
    -webkit-touch-callout: $val;
    -webkit-user-select: $val;
    -moz-user-select: $val;
    -ms-user-select: $val;
    user-select: $val;
}
/*Phones (520px) Small Tablets (720px)*/
@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-scrollbar {
    margin-right: 17px;
}
/* Fonts */
@include fontFace("HelveticaNeue","../fonts/helveticaneue");
@include fontFace("HelveticaNeueUltraLight","../fonts/helveticaneueultralight");

#mapDiv {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.esriRTL label {
  /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

.loading-indicator {
  /* Loading status */
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
}

.app-loading .loading-indicator, .app-error .loading-indicator {
  /* Show this class when loading or error */
    display: block;
}

.app-loading .loading-indicator {
  /* Loading image */
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}

.app-error .loading-message {
  /* Error status */
    background-position: top center;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0;
    text-align: center;
}

/*Styles for the print dialog checkbox*/
#pageBody_print .checkbox {
    display: inline-block;
    cursor: pointer;
    margin-left:10px;
    line-height:18px;
    padding:4px;
}
#pageBody_print input[type=checkbox].checkbox {
    display:none;
}

#pageBody_print .checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align:middle;
    background-color: #d3d3d3;
    color: #f3f3f3;
    text-align: center;
    border-radius: 3px;
}
#pageBody_print input[type=checkbox]:checked.checkbox + .checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}

/*Layer list dialog*/
.layer-menu{
    width:100%;
}
.layer-menu .dijitMenuItem:hover{
    background:#d3d3d3;
}

.layer-menu .dijitMenuItemSelected{
    background:#d3d3d3;
}
/* Esri Javascript API*/
.templatePicker{
  height:100%;
  padding-top:30px;
  padding-bottom:120px;
  border: none; 
}
.esriEditor{
    height:100%;
}
.esriEditor .esriDrawingToolbar{
    position: absolute;
    right:0;
    left:0;
    top:10px;
    border-top: none;
    border-right: none;
    border-left: none;
    @include respond-to(720){
        top:10px;
        right:0;
        left:0;
    }
}
.esriAttributeInspector .atiDeleteButton{

}
.esriPopup .pointer.bottom , .esriPopup .pointer.bottomLeft, .esriPopup .pointer.bottomRight{
    background: #f7f7f7 !important;
}
.esriPopupMaximized{
   top:100px !important;
}
.esriPopup.light .actionsPane .action.zoomTo {
  background-position: 0 -224px; }

.esriPopup .actionsPane .action {
  margin-right: 10px; }

.esriPopup.light .actionsPane .action {
  position: absolute;
  cursor: pointer;
  background-image: url("http://js.arcgis.com/3.12/esri/css/calcite/images/popup-sprite.png");
  width: 12px;
  height: 12px;
  text-indent: -9999px; }
.esriPrintout a{
    color:#5daddd;
}
.esriPrint{
    position:absolute;
    top:40px;
    left:15px;
}
.esriMeasurement .esriMeasurementButtonPane{
    padding-left:6px;
}
.esriMeasurement .esriMeasurementResultLabel{
    padding-left:4px;
}
.esriMeasurement .areaIcon{
    background-image: url(../images/area_measure.png);
    width:28px;
    height:28px;
}
.esriMeasurement .distanceIcon{
    background-image: url(../images/dist_measure.png);
    width:28px;
    height:28px;
}
.esriMeasurement .locationIcon{
    background-image: url(../images/dist_point.png);
    width:28px;
    height:28px;
}
.esriMeasurement .esriButtonHover .dijitButtonNode{
    background: #a9a9a9;
}
.esriMeasurement .esriButtonChecked .dijitButtonNode{
    background: #a9a9a9;
}
.no-touch .esriMeasurement .esriButton .dijitButtonNode:hover{
    background: #a9a9a9;
}

.locationIcon{
    width:32px;
    height:32px;
}
.esriSimpleSlider {
    text-align: center;
    color: #ffffff;
    @include transparent($default-theme, 0.80);
    @include box-shadow (3px, 3px, 10px, rgba(0,0,0,0.3));
    cursor: pointer;
    display:none;
    @include respond-to(760){
        display:block;
    }
}

.esriSimpleSlider div {
    width: 30px;
    height: 40px;
    font-size: 24px;
    font-family: verdana, helvetica;
    font-weight: bold;
    line-height: 40px;
    -webkit-user-select: none;
}
.arcgisSearch .searchGroup .searchInput {
  width:200px;
  padding: 6px 17px 6px 18px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);
  zoom: 1;
  color:#fff;
      @include respond-to(800){
        max-width:190px;
        display:block;
    }
}
.arcgisSearch .searchClear{
  background:none;
  background-color: inherit;
  color:#a8a8a8;
 }

.arcgisSearch .searchBtn {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);
  color:#a8a8a8;
}

.notools div{
    width:30px;
    height:30px;
    line-height:25px;
    font-size:24px;
}
.esriSimpleSliderTL {
    top: 10px;
    left: 10px;
    border: none;
}

.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover {
    @include transparent($black-color, 0.3);
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton{
    border:none !important;
}

.esriSimpleSliderIncrementButton {
   /*border-bottom: 1px solid rgba(255,255,255,0.5) !important;*/
}

.simpleGeocoder .esriGeocoder {
    display: block;
    width: 100%;
    margin: 0;
    border: transparent;
    @include transparent($black-color, 0.3);
    @include border-radius;

}
.simpleGeocoder .esriGeocoderMenu{
    color: #333;
}
.simpleGeocoder .esriGeocoderResults {
    border: transparent;
    @include transparent($black-color, 0.6);

}

.simpleGeocoder .esriGeocoder input {
    color: #FFF !important;
}

.simpleGeocoder .esriGeocoderResult:hover, .simpleGeocoder .esriGeocoderResultEven:focus, .simpleGeocoder .esriGeocoderResultOdd:focus {
    @include transparent($black-color, 0.3);
}

.simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow{
    background:none;
}
.simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow:before{
    content:"\e809";
    width:16px;
    height:16px;
    font-size:16px;
    color: #a8a8a8;
    font-family: "tool-icons";
}

.esriMeasurement .esriMeasurementResultLabel{
    text-align:left;
    font-weight:500;
}
.esriControlsBR {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.logo-med {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.logo-sm {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.esriAttribution {
    position: absolute;
    left: 65px;
    bottom: 5px;
}

.esriBookmarks {
    border: none;
}
.esriBookmarkItem{
    width:$page-width;
    background: #f8f8f8;
    color:#555;
    border-bottom:1px solid #e0e0e0;
    @include user-select(none);
    padding:6px;
}
.esriBookmarkLabel {
    font-size: 16px;
}

.esriBookmarkHighlight {
    @include transparent($black-color, 0.2);

}
.esriBasemapGallery{
    padding:20px 20px 120px 20px;
}
.legend{
   margin-bottom:100px;
}
.scalebar_bottom-left {
    left: 25px;
    bottom: 40px;
}
.HomeButton .home {
    padding:0 !important;
    width:24px;
    height:24px;
    line-height:24px;
    font-size:20px;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    @include border-radius (13px);
    background-size: 14px 14px;
    background-image:none;
}
.no-touch .HomeButton .home:hover, .LocateButton .zoomLocateButton:hover{
    background-color:none !important;
}
.scalebar_bottom-left {
    left: 25px;
    bottom: 40px;
}
.HomeButton .home:before{
    width:24px;
    height:24px;
    content:"\e800";
    position: absolute;
    font-family: "tool-icons";
    text-align:center;
    speak: none;
}
.LocateButton .zoomLocateButton:before{
    content:"\e80c";
    font-size:20px;
    width:24px;
    height:24px;
    position: absolute;
    font-family: "tool-icons";
    text-align:center;
    speak: none;
}
.LocateButton .zoomLocateButton {
    padding:0;
    width: 24px;
    height: 24px;
    font-size:20px;
    line-height:24px;
    background-color: transparent;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    @include border-radius(13px);
}



img{
    border:0;
}
/*custom tooltips for toolbar tools. Test on early IE*/
[data-title]:hover:after {
    content: attr(data-title);
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    z-index: 99;
    @include box-shadow (0px, 0px, 4px, #222);
    @include transparent($black-color, 0.5);
}

/* Template */

.bg {
    display: block;
}
.fc{
    font-weight:bold;
}
.rounded {
    @include border-radius;
}

.roundedTop {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.shadow {
    @include box-shadow (3px, 3px, 10px, rgba($black-color,0.3));
}

#panelContent {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    width: 0px;
    display: block;
    @include transparent($black-color, 0.5);

}

#panelPages {
    width: 100%;
    height: 100%;
    @include transparent(rgb(255,0,0), 0.5);
}

.page {
    overflow:visible;
    position:relative;
    width: 100%;
    height: 100%;
    display:block;
    @include transparent(rgb(0,0,0), 0.5);

}

.pageblank {
    width: 0px;
    height: 100%;
}

.pageContent {
    position: absolute;
    left:10px;
    right:10px;
    margin-left: -310px;
    width: $page-width;
    display:block;
    overflow:hidden;
    max-height:305px;
    top:100px;
    @include transparent($default-theme, 1);
    @include respond-to(600){
        max-height:none;
    }
    @include respond-to(1070){
       top:10px;
        max-height:none;
    }
}

/*Panel sizes*/
.small{
    height:295px;
}
.medium{
    height:440px;
}
.large{
    height:540px;
}

.pageHeader {
    position: relative;
    width: 100%;
    height: 90px;
    text-align: center;
    display: block;

}
.pageTitle {
    position: absolute;
    left: 80px;
    top: 30px;
    width : auto;
    height: 20px;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    overflow:hidden;
}

.pageHeaderImg {
    position:absolute;
    left:5px;
    margin-left:0px;
    top:5px;
    width:60px;
    height:60px;
    line-height:60px;
    border: 5px solid rgba(0,0,0,0.1);
    @include border-radius(35px);
}

.pageIcon {
    position:absolute;
    left:11px;
    top:11px;
    width:40px;
    height:40px;
}

.pageClose {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 9px;
    background: url(../images/close.png) no-repeat;
    background-size:24px;
    width: 24px;
    height: 24px;
    display: block;
}

.pageUp {
    position: absolute;
    top: 35px;
    right: 5px;
    background: url(../images/up.png) no-repeat;
    background-size:24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
}

.pageDown {
    position: absolute;
    top: 60px;
    right: 5px;
    background: url(../images/down.png) no-repeat;
    background-size:24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
}

.pageBody {
    position:relative;
    height:100%;
    top:0;
    display:block;
    width: 100%;

    color: #000000;
    overflow-x: hidden;
    overflow-y: auto;
}
#pageBody_overview{
    padding-bottom:90px;
}
#pageBody_print{
    padding:10px;
}
#pageBody_legend{
    padding-left:20px;
    padding-top:20px;
    margin-right:30px;
    max-width: $page-width - 20;
}
#pageBody_basemap{

}
#pageBody_layers{

}
#pageBody_share{
    padding:5px 20px;
    overflow-y:auto;
    @include respond-to(720){
        max-height:none;
    }
}

#pageBody_bookmarks{
    position:absolute;
    top:90px;
    max-height:70%;
    @include respond-to(720){
        max-height:80%;
    }
}

.desc{
    margin-bottom:100px; 
    padding:5px;  
}
#pageBody_details{
    padding:5px;
    max-width: $page-width - 12;

}


#panelTop {
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    color: #ffffff;
    padding: 0px;
    display: block;
    overflow: visible;
    height: auto;
    @include border-radius (0);
    @include respond-to(760){
        width:auto;
        left: 44px;
        top: 10px;
        @include border-radius(5px);
    }
}

#panelTitle {
    height: 50px;
    width:100%;
    float: left;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight:normal;
    font-size: 25px;
}
.no-search #panelText{
    display:block;
}
#panelLogo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    line-height: 50px;
    margin-left: 5px;
}
#panelLogo img{
    max-width:50px;
    max-height:50px
}

#panelText {
    float: left;
    max-width:196px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    height: 50px;
    line-height: 50px;
    display:none;
    font-size:.9em;
    @include respond-to(720){
        display:block;
        max-width:300px
    }
    @include respond-to(800){
    max-width:400px;
    }
}
#panelText.nosearch{
  display: block;
}
#panelSearch {
    float: left;
    margin: 10px 0 10px 20px;
    height: 30px;
    @include respond-to(720){
     margin: 10px 4px 10px 20px;
     float:right;
    }
}

#panelTools {
    position: relative;
    left: 0px;
    top: 0px;
    min-height: 30px;
    width: 100%;
    display: block;
    clear: both;
    @include respond-to(720){
        display:block !important;
    }
}

#panelMenu {
    position:absolute;
    top:10px;
    right:2px;
    font-size:24px;
    cursor: pointer;
    color: #fff;
    display: block;
    @include respond-to(720){
        display:none;
    }
}

.panelTool {
    float: left;
    width: 26px;
    height: 26px;
    margin-top: 2px;
    text-align: center;
    line-height: 26px;
    @include border-radius (13px);

}

/*Added hover to match the out-of-the-box hover for the home and locate buttons*/
.no-touch .panelTool:hover {
    @include transparent (rgb(102,102,102), 0.9);
}

.panelToolActive {
    @include transparent(rgb(0,0,0), 0.3);
}

.tool {
    margin: 1px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#panelHome {
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 1px;
    margin-top: 3px;
}

#panelLocate {
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 0px;
    margin-top: 3px;
}


/*Calcite updates keep list and submit issues*/

.calcite .esriPopup .title{
    font-weight:bold;
}
.dijitMenuItemIconChar.dijitCheckedMenuItemIconChar {
    display: inline-block;
    visibility: hidden;
}

.calcite .dijitMenu{
    border:none;
}
.dijitMenuItemLabel{
    padding:0;
}

.dijitChecked .dijitMenuItemIconChar.dijitCheckedMenuItemIconChar {
    display: inline-block;
    visibility: visible;
}

.no-touch .dijitMenuItem:hover {
    @include transparent(rgb(93,173,221),0.40);
}

.calcite .dijitMenuItemLabel {
    max-width:250px;

}
.dijitButtonNode {
    margin: 0;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}
.esriAttributeInspector .atiButton{
        background-image:none;
}

.esriAttributeInspector .atiButton .dijitButtonNode{
    padding:1em !important;
    line-height:16px;
    background: #d3d3d3;  /*#5daddd; calcite blue */
    color: #fff;
    padding: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    @include border-radius (4px);
    @include box-sizing(border-box);
    @include box-shadow (1px, 2px, 1px, rgba(0,0,0,0.3));
    @include user-select(none);
    @include transition(all, .5s, linear);
}

.esriPrintButton{
    padding: .5em 1em .5em !important;
    line-height:32px;
    background: #d3d3d3;  /*#5daddd; calcite blue */
    color: #fff;
    padding: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    @include border-radius (4px);
    @include box-sizing(border-box);
    @include box-shadow (1px, 2px, 1px, rgba(0,0,0,0.3));
    @include user-select(none);
    @include transition(all, .5s, linear);
}
.esriPrintButton .esriPrintButton{
    background: #d3d3d3;  /*#5daddd; calcite blue */
}
.esriPrintButton:hover{
  background: #a9a9a9; /*#4997d2; calcite hover */
}

.calcite .dijitArrowButtonInner{
    width: 16px;
    height:16px;
}
.calcite .dijitPopup{
    border: solid 1px #d3d3d3;
}

.esriPopup .titlePane{
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  padding: 10px;
  border: 0;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}
.esriPopup .titlePane .title {
  line-height: 16px;
}
.esriPopup .titleButton {
  top: 10px;
  background: none;
}
.esriPopup .titleButton.prev {
  right: 73px;
}
.dj_rtl .esriPopup .titleButton.prev{
  left: 73px;
  right: auto;
}
.esriPopup .titleButton.next {
  right: 55px;
}
.dj_rtl .esriPopup .titleButton.next {
  left: 55px;
  right: auto;
}
.esriPopup .titleButton.maximize {
  right: 31px;
}
.dj_rtl .esriPopup .titleButton.maximize {
  left: 31px;
  right: auto;
}
.esriPopup .titleButton.restore{
  right: 29px;
}
.dj_rtl .esriPopup .titleButton.restore{
  left: 29px;
  right: auto;
}
.esriPopup .titleButton.close{
  right: 10px;
}
.dj_rtl .esriPopup .titleButton.close{
  left: 10px;
  right: auto;
}


/*Share Dialog updates*/

.calcite .icon-container {
    margin: 10px 0 10px;
    display:none;
    @include respond-to(720){
        display:block;
    }
}
.calcite .map-size-label {
    float: left;
    font-size: 15px;
    margin: 0 5px 0 0;
}
.esriRTL .calcite .map-size-label {
    float: right;
    margin: 0 0 0 5px;
}
.calcite .share-dialog-icon {
    /*font-size: 32px;
    line-height: 32px;*/
    font-size:30px;
    line-height:30px;
    float: left;
    color: rgba(0, 0, 0, 0.3);;
    cursor: pointer;
    margin: 0 10px 0 0;
    text-decoration: none;
    display: block;
}
.calcite .share-dialog-icon:visited{
    color: rgba(0, 0, 0, 0.5);
}
.esriRTL .calcite .share-dialog-icon {
    float: right;
    margin: 0 0 0 10px;
}
.calcite .share-dialog-icon:hover {
    color:rgba(0, 0, 0, 0.8);
}

.calcite .share-map-url {
    width: 50%;
    min-width: 80%;
    max-width: 90%;
    height: 25px;
    font-size: 14px;
    color: #777;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px;
}
.calcite .map-size-container {
    margin: 0;
    padding: 0 0 20px;
}
.calcite .embed-map-size-clear,
.calcite .icon-clear {
    clear: both;
}
.calcite .embed-map-size-dropdown {
    float: left;
}
.esriRTL .calcite .embed-map-size-dropdown {
    float: right;
}
.calcite .share-dialog-subheader {
    font-size: 17px;
    display:none;
    @include respond-to(720){
        display:block;
    }
}
.calcite .share-dialog-textarea {
    width: auto;
    max-width: 90%;
    width: 80%;
    height: 50px;
    font-size: 14px;
    color: #777;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px;
}
.calcite .share-dialog-extent {
    /*margin: 0 0 15px 0;*/
}

.share-dialog-checkbox {
    display: inline-block;
    cursor: pointer;
    padding:8px;
}
 input[type=checkbox].share-dialog-checkbox {
    display:none;
}

.share-dialog-checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align:middle;
    background-color: #d3d3d3;
    color: #f3f3f3;
    text-align: center;
    border-radius: 3px;
}

 input[type=checkbox]:checked.share-dialog-checkbox + .share-dialog-checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}

/*Icon Fonts*/

@font-face {
  font-family: 'tool-icons';
  src: url('../fonts/tool-icons.eot?23344103');
  src: url('../fonts/tool-icons.eot?23344103#iefix') format('embedded-opentype'),
       url('../fonts/tool-icons.woff?23344103') format('woff'),
       url('../fonts/tool-icons.ttf?23344103') format('truetype'),
       url('../fonts/tool-icons.svg?23344103#tool-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tool-icons';
    src: url('../fonts/tool-icons.svg?23344103#tool-icons') format('svg');  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tool-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}





.icon-home-1:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-buffer:before { content: '\e80b'; } /* '' */
.icon-target:before { content: '\e80c'; } /* '' */
.icon-angle-down:before { content: '\e809'; } /* '' */
.icon-check-1:before {content: '\2713';}
@import url("spacing.css"); /* for alignment*/
@import url("helppopup.css"); /* for popup help*/
@import url("BrowseAnalysisLayers.css"); /* for browse analyis layers*/

.analysisTitle {
  font-weight: bold;
}

.toolLabel {
  font-weight: normal;
}

.esriSmallLabel {
  font-size: smaller;
  color: grey;
}

.esriSmallLabel.disabled {
  font-size: smaller;
  color: lightgray;
}

.esriSmallFont {
  font-size: smaller;
}

.esriAnalysis .dijitTextBox {
  text-indent: 0.25em;
}

.toolContainer {
  display: block;
  width: 95%;
  height: 3.25em;
  margin: .75em .25em;
  border-bottom: .1em solid #e5e5e5;   	
}

.analysisTooltip {
  max-width: 18em; 
}

.esriAnalysis .esriChoosePane .toolContainer,
.esriAnalysis .esriChoosePane .toolContainerSelected{
  display: block;
  width: 95%;
  height: auto;
  margin: .75em .25em;
  border: .1em solid #e5e5e5;
  border-radius: 5px;
}

.esriAnalysis .esriChoosePane .toolContainer{
  /*color: #fff;*/
  /*text-shadow: -2px 2px #346392;*/
  /*background-image: linear-gradient(top, #6496c8, #346392);*/
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 5px;
}

.esriAnalysis .esriChoosePane .toolContainer:hover,
.esriAnalysis .esriChoosePane .toolContainer.hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

.esriAnalysis .esriChoosePane .toolContainer:active,
.esriAnalysis .esriChoosePane .toolContainer.active,
.esriAnalysis .esriChoosePane .toolContainer:visited,
.esriAnalysis .esriChoosePane .toolContainer.visited{
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.esriAnalysis .esriChoosePane .toolContainer.toolSelected {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.esriAnalysis .esriChoosePane .toolContainer .toolContent {
  margin-top: -4.75em;
}

.esriAnalysis .esriChoosePane .toolDesc {
  padding-bottom: 1em;
  margin: 1em;
  word-break: keep-all;
}

.esriChoosePane .toolLabel {
  font-weight: bold;
}

.esriAnalysis .esriCBLtoolContent {
  
}

.esriAnalysis .esriCBLtoolContainer {
  display: block;
  width: 95%;
  height: auto;
  margin: 0;
  padding: 1em .25em 0;
  border-bottom: .1em solid #e5e5e5;
}

.esriAnalysis .esriCBLfirstGoal {
  margin-top: 2.2em;
  border-top: .1em solid #e5e5e5;
 }

.esriToolContainerDisabled {
  background-color: #e5e5e5;
  border-radius: .5em;
}

.esriTransparentNode {
  opacity: 0.6;
  position: relative;
  top: 0.25em;
}

.esriToolContainerDisabled .helpIcon {
  z-index: 900;
}


.helpContentIcon {
  width: 45px;
  height: 45px;
  margin: 10px;
}

.comingSoonIcon {
 color:#006400;
}

.constructionIcon {
  background-image: url("../images/constructionicon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.esriToolContainerDisabled .comingSoonIcon{
  z-index: 900;
}

.aggregateIcon {
	background-image: url("../images/AggregatePoints32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.sumNearbyIcon {
	background-image: url("../images/SummarizeNearby32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.sumWithinIcon {
  background-image: url("../images/SummarizeWithin32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}


.buffersIcon {
	background-image: url("../images/CreateBuffers32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 10px;
}

.driveIcon {
	background-image: url("../images/CreateDriveTimeAreas32.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	margin: 8px;
}

.findLocationsIcon {
  background-image: url("../images/FindExistingLocations32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.findNewLocationsIcon {
  background-image: url("../images/FindNewLocations32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.findSimilarLocationsIcon {
  background-image: url("../images/FindSimilarLocations32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.geoenrichLayerIcon {
  background-image: url("../images/GeoenrichFeatures32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.findClosestFacilityIcon {
  background-image: url("../images/FindNearest32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.extractDataIcon{
  background-image: url("../images/ClipAndShip32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.findHotSpotsIcon {
  background-image: url("../images/FindHotSpots32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.createDensitySurfaceIcon {
  background-image: url("../images/CreateDensitySurface32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.correlationReporterIcon {
  background-image: url("../images/CorrelationFinder32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.createInterpolatedSurfaceIcon {
  background-image: url("../images/CreateInterpolatedSurface32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.attributeCalculatorIcon {
  background-image: url("../images/AttributeCalculator32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.overlayLayersIcon {
  background-image: url("../images/OverlayLayers32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.eraseLayersDisabledIcon {
  background-image: url("../images/EraseDisabled32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.intersectLayersDisabledIcon {
  background-image: url("../images/IntersectDisabled32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.unionLayersDisabledIcon {
  background-image: url("../images/UnionDisabled32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.eraseLayersIcon {
  background-image: url("../images/Erase32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.intersectLayersIcon {
  background-image: url("../images/Intersect32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.unionLayersIcon {
  background-image: url("../images/Union32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
}

.mergeLayersIcon {
  background-image: url("../images/MergeLayers32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.dissolveBoundariesIcon {
  background-image: url("../images/DissolveBoundaries32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.planRoutesIcon {
  background-image: url("../images/PlanRoutes32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 8px;
}

.connectODIcon {
  background-image: url("../images/ConnectOriginstoDestinations32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 8px;
}

.createViewshedIcon {
  background-image: url("../images/Viewshed32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 8px;
}


.createWatershedIcon {
  background-image: url("../images/Watershed32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 8px;
}

.chooseBestFacilitiesIcon {
  background-image: url("../images/ChooseBestFacilities32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 8px;
}


.traceDownstreamIcon {
  background-image: url("../images/TraceDownstream32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 8px;
}

.esriAnalysisCloseIcon {
  background-image: url("../images/close.gif");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 1px;
  padding-left: 1.1em;
}

.esriAnalysisInfoPaneCloseIcon {
  background-image: url("../images/close.gif");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 1px;
  padding-left: 1.1em;
}

.esriRtl .esriAnalysisCloseIcon {
  padding-right: 1.1em;
  padding-left:0
}

.dj_ie8 .helpIcon,.dj_ie7 .helpIcon  {
  background-image: url("../images/Help16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 1px;
}


.helpIcon {
	background-image: url("../images/Help16.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 12px;
	height: 12px;
	margin: 1px;
}

.circleIcon {
  width:20px;
  height:20px;
  border-radius: 99px;
  background-color:#E0DCE3;
}

.closeIcon {
  padding: 0.5em;
}

.helpWindow {
  background-color:#D7D7D7; 
  width:350px;
}
.helpHeader {
  font-size: 1.15em;
  text-decoration: underline;
  font-weight: bolder;
  text-align: center;
  margin: 0.5em;
}

.helpContent {
  font-size: 1em;
  margin: 0.5em;
  text-indent: 0.05em;
  text-align:justify;
  letter-spacing:0.01em;  
}

.helpFooter {
  font-size: 1em;
  margin: 0.5em;
}

/* table css*/
.esriFormTable,
.esriServiceEditorTable {
  width: 99%;
}

.esriServiceEditorTable>tbody>tr>td {
  padding: 0.2em;
}


.esriServicesEditor div.sectionHeader,
.esriServiceEditorTable td.sectionHeader,
.esriFormTable td.sectionHeader {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

td.subsectionLineDivider {
  margin-left: 2em;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding-top: 2em;
}
.esriServicesEditor div.subsectionHeaderTop,
.esriServiceEditorTable td.subsectionHeaderTop {
  margin-left: 2em;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding-top: 1em;
}

.esriServicesEditor div.subsectionHeaderBottom,
.esriServiceEditorTable td.subsectionHeaderBottom {
  margin-left: 2em;
  border-top: 1px solid #ccc;
  color: #000;
  padding-top: 1em;
}

.esriAnalysis .numberInput {
  width: 92px;
}

.esriAnalysis .shortNumberInput {
  width: 4em;
}

.esriAnalysis .shortTextInput {
  width: 5%;
  vertical-align: top;
}

.esriAnalysis .longTextInput {
  width: 85%;
}

.esriAnalysis .shortInput {
  width: 5%;
}

.esriAnalysis .mediumInput {
  width: 49%;
}

.esriAnalysis .longInput {
  width: 85%;
  table-layout:fixed;
}

.esriAnalysis .esriAnalysisDriveMode .dijitButtonText {
    padding: 0.15em;
}
.esriAnalysis .attrSelect {
  width: 80%; 
}
.esriAnalysis .statsSelect {
  width: 90%;
}
.esriServiceEditorTableBody {
  position: relative;
}

.esriServiceEditorTableBody>tr>td {
  width: 50%;
}

.esriServiceEditorTableBody>tr>td>label {
  text-align: left;
}

.esriRtl .esriServiceEditorTableBody>tr>td>label {
  text-align: right;
}

.dijitContentPane.esriSelectorPane,
.dijitContentPane.esriSelectorPaneLabel {
  padding: 0px;
}


.esriSimpleForm table.esriFormTable>tbody>tr>td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.esriSimpleForm table>tbody>tr>td.esriFormFieldLabelTop {
  padding: 0.5em 0.5em 0 0.5em;
}


.esriSimpleForm .esriStackSelect {
  font-size: 80%;
}
.esriSimpleForm .esriPagedList {
  padding:3px;
  border: 0px solid #a6a6a6;
  border-radius: 4px;
  font-size: 80%;
}

.esriSimpleForm table.esriFormTable .dijitButtonNode {
  padding:1px;
}

.esriSimpleForm table.esriFormTable .dijitArrowButton, .esriSimpleForm table.esriFormTable .dijitSpinnerButtonContainer {
  padding:0;
}

.esriSimpleForm table.esriFormTable {
  width: 100%;
}

.esriSimpleForm table.esriFormTable .shortNumberInput {
  width: 4em;
}

.esriAnalysis .dijitReset.dijitRight.dijitButtonNode.dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer {
  width: 15px;
  height:100%;
}

.esriAnalysis .attrSelect div.dijitReset.dijitInputField.dijitButtonText , 
.esriAnalysis .statsSelect div.dijitReset.dijitInputField.dijitButtonText { 
  width: 99%;
  overflow: hidden;
  text-align: left;
} 

.esriRtl .esriAnalysis .attrSelect div.dijitReset.dijitInputField.dijitButtonText , 
.esriRtl .esriAnalysis .statsSelect div.dijitReset.dijitInputField.dijitButtonText {
  text-align: right;
}

.esriAnalysis .attrSelect span.dijitReset.dijitInline.dijitSelectLabel.dijitValidationTextBoxLabel , 
.esriAnalysis .statsSelect span.dijitReset.dijitInline.dijitSelectLabel.dijitValidationTextBoxLabel { 
  width: 99%;
  overflow: hidden;
} 


.esriAnalysis div.optionsClose{
  border: none;
  position: relative;
}

.esriAnalysis div.optionsClose.disabled{
  border: none;
  color: #808077;
}

.esriAnalysis .esriSimpleForm td.optionsTd, .esriAnalysis .optionsTd {
  padding-right: 0;
}


.esriAnalysis div.optionsOpen{
  border:1px solid  #CCC;
  position: relative;
  /* width: 100%; */
}

.esriAnalysis .dijitTreeExpando {
  background-image: url("../images/treeExpandImages.png");
  width: 16px;
  height: 16px;
}

.esriboundingButton .dijitButtonNode {
  width: 16px;
  height: 16px;
}

.esriAnalysis .optionsClose .dijitTreeExpando{
  background-position: 0 0;
  background-image: url("../images/treeExpandImages.png");
  width: 16px;
  height: 16px;
}

.esriAnalysis .optionsClose.disabled div.dijitTreeExpando:hover{
  background-position: 0 0;
  background-image: url("../images/treeExpandImages.png");
  cursor: default;
}

.esriAnalysis .optionsClose.disabled div.dijitTreeExpando label:hover{
  cursor: default;
}

.esriAnalysis .optionsClose div.dijitTreeExpando:hover{
  background-position: -17px 0;
  background-image: url("../images/treeExpandImages.png");
  cursor: pointer;
}

.esriAnalysis div.dijitTreeExpando label:hover{
  cursor: pointer;
}

.esriAnalysis .optionsOpen .dijitTreeExpando{
  background-position: -52px 0;
  cursor: pointer;
}

.esriAnalysis .dijitSelectLabel{
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  /*max-width: 185px;*/
}


.esriAnalysis .esriLongLabel .dijitButtonText {
  width: 90%;
}

.esriAnalysis .esriLongLabel.dijitError  .dijitButtonText {
  width: 80%;
}

.esriAnalysis .esriLongLabel .dijitSelectLabel, .esriLongLabel.dojoxCheckedMultiSelect{
  width: 100%;
  text-align: left; 
}

.esriRtl .esriAnalysis .dijitSelectLabel, .esriRtl .esriAnalysis .esriLongLabel .dijitSelectLabel, .esriRtl .esriLongLabel.dojoxCheckedMultiSelect {
  text-align: right;
}

.esriAnalysis  .dijitInputField.dijitValidationIcon  {
  position: relative;
  top: 0.5em;
}

.esriAnalysis .dijitSelect  .dijitInputField.dijitValidationIcon {
  position: relative;
  top: 0;
}

.esriAnalysis .esriMediumlabel .dijitSelectLabel{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.esriAnalysis .esriMediumlabel2 .dijitSelectLabel{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
}

.esriAnalysis .esriMediumlabel2{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}

.esriAnalysis .esriMediumlabel{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.esriAnalysis .esriShortlabel .dijitSelectLabel{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.esriAnalysis .optionsTable {
  width: 100%;
}
.esriAnalysis .optionsClose .optionsTable {
  display: none;
}


.esriAnalysis .optionsOpen .optionsTable {
  display: table;
}

.esriGroupButton .esriGroupChecked{
  border: 1px solid #FFA500;
}

.esriRoundedBox {
  border-radius: 4px 4px 4px 4px;
}

.esriFormInfo {
  border-color: #c2e5b8;
  background-color: #D6FFC9;
  border: 1px solid #e6e5b7;
  padding: 1.2em;
  margin: 0.7em 0;
}

.esriFormError {
  background-color: #ffffcd;
  border: 1px solid #e6e5b7;
  padding: 1.2em;
  margin: 0.7em 0;
}

.esriFormWarning {
  padding: 1.2em;
  margin: 0.7em 0;
  border: 1px solid #a67032;
  background-color: #F4DA6E;
}

.esriFormSuccess {
  padding: 1.2em;
  margin: 0.7em 0;
  border: 1px solid #257824;
  background-color: #50ad4e;
}

.bufferIcon {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 1px;
  border-radius: 2px;
}

.bufferSelector{
  text-align:center;
}
.bufferSelector.selected{
  font-weight:bold;
}
.bufferSelector.disabled{
  color:grey;
}


.bufferSelector .bufferIcon{
  border:2px solid #FFF;
  margin: 5px auto;
}

.bufferSelector .bufferIcon:hover {
  cursor:pointer;
  border: 2px solid #AAA;
}

.bufferSelector.disabled .bufferIcon {
  cursor:default;
  border: none;
}


.bufferSelector.selected .bufferIcon{
  /*border:4px solid #000;*/
  border: 2px solid #FFA500;
}
.bufferSelector.selected .bufferIcon:hover {
  /*border:4px solid #000;*/
  border: 2px solid #FFA500;
}

.bufferDistanceIcon {
  background-image: url("../images/BufferDistance32.png");
}

.esriDrivingTimeIcon {
  background-image: url("../images/DrivingTime32.png");
}

.esriDrivingTimeDisabledIcon {
  background-image: url("../images/DrivingTimeDisabled32.png");
}

.esriDrivingDistanceIcon {
  background-image: url("../images/DrivingDistance32.png");
}

.esriTruckingTimeIcon {
  background-image: url("../images/TruckingTime32.png");
}

.esriTruckingDistanceIcon {
  background-image: url("../images/TruckingDistance32.png");
}

.esriWalkingTimeIcon {
  background-image: url("../images/WalkingTime32.png");
}

.esriWalkingDistanceIcon {
  background-image: url("../images/WalkingDistance32.png");
}

.esriOtherDistanceIcon {
  background-image: url("../images/OtherModeDistance32.png");
}

.esriOtherTimeIcon {
  background-image: url("../images/OtherModeTime32.png");
}

.esriOtherIcon {
  background-image: url("../images/OtherMode32.png");
}

.bufferAttributeIcon {
  background-image: url("../images/BufferAttribute32.png");
}
.bufferOverlapIcon {
  background-image: url("../images/Overlap32.png");
}
.esriAnalysisSplitIcon {
  background-image: url("../images/Split32.png");
}
.bufferDissolveIcon {
  background-image: url("../images/Dissolve32.png");
}
.bufferDisksIcon {
  background-image: url("../images/Disks32.png");
}
.bufferRingsIcon {
  background-image: url("../images/Rings32.png");
}
.bufferLeftIcon {
  background-image: url("../images/Left32.png");
}
.bufferRightIcon {
  background-image: url("../images/Right32.png");
}
.bufferAroundIcon {
  background-image: url("../images/Around32.png");
}

.bufferRoundIcon {
  background-image: url("../images/Round32.png");
}
.bufferFlatIcon {
  background-image: url("../images/Flat32.png");
}

.bufferIncludeIcon {
  background-image: url("../images/Include32.png");
}
.bufferExcludeIcon {
  background-image: url("../images/Exclude32.png");
}

.esriStraightLineDistanceIcon {
  background-image: url("../images/StraightLineDistance32.png");
}

.esriStraightLineDistanceDisabledIcon {
  background-image: url("../images/StraightLineDistanceDisabled32.png");
}

.facilityDemandIcon {
  background-image: url("../images/FacilityToDemand32.png");
}

.demandFacilityIcon {
  background-image: url("../images/DemandToFacility32.png");
}

.constantIcon {
  background-image: url("../images/Constant32.png");
}

.unlimitedIcon {
  background-image: url("../images/Unlimited32.png");
}

.attributeIcon {
  background-image: url("../images/Field32.png");
}

.btn-container {
  padding:5px 0px;
  position:relative;
  width:100px;
  margin:auto;
}

.btn1 {
  width:0px;
}

.btn2 {
  position:absolute;
  left:60px;
  top:5px;
}

.btn3 {
  position:absolute;
  left:120px;
  top:5px;
}


.esriContainerSelector {
  border:1px solid #FFF;
  padding:5px;
}

.esriContainerSelector label, .esriSelectLabel{
  cursor:pointer;
}

.esriContainerSelector.esriGroupselected {
  border:2px solid #FFF;
}

.esriContainerSelector.esriGroupselected label{
  font-weight:bold;
}

.esriContainerSelector {
  border:1px solid #FFF;
  padding:5px;
}

.esriContainerSelector:hover {
  cursor:pointer;
  padding:5px;
  
}

.esriContainerSelector.selected {
  border:1px solid #777;
  background:#DDD;
  padding:5px;
}
.esriContainerSelector.selected:hover {
  border:1px solid #777;
  padding:5px;
}


.claro .esriAnalysis .dijitComboBox .dijitArrowButtonInner {
  border: none;
}

.soria .esriAnalysis .dijitButtonNode .dijitArrowButtonInner {
  margin: 0 2px;
}

.esriAnalysis .dijitInputInner {
  text-indent: 0.25em;
}

.esriAnalysis .numberListing {
  font: bold 15px/1 Verdana, Helvetica, sans-serif;
}

.esriAnalysis .esriOutputText {
  width: 85%;  
}

.esriAnalysis .esriToolIconTd {
  width: 32px;
}

.esri .esriAnalysis .dijitMenuSeparatorBottom {
  border-top: 1px dashed #8BA0BD;
}

.esriAnalysis .esriFolderSelect {
  width:55%;
  height:auto;
}

.esriAnalysis  .esriFolderSelect .dijitInputField.dijitValidationIcon  {
  position: relative;
  top: 0;
}

.soria .esriAnalysisSelect.dijitDisabled  .dijitButtonText {
  color: grey; 
}

.esriAnalysis .noWrapLabel {
  position: absolute;
}

.esriSimpleForm .dijitSlider td {
  padding: 0;  
} 

.esriAnalysis .dijitRuleMark {
  border: 1px solid #999999;
}


.esriAnalysis .dijitRuleLabel {
  white-space: nowrap;
}

.esriAnalysisTextDisabled {
  color: grey;
}

/*.esriAnalysis .field-varName {
  display: none;	
}*/
.esriAnalysis .ui-widget-content {
  width: 100%;
}

.esriAnalysis .EnrichOptionsPage_Fields .dgrid-row.dgrid-row-odd { background-color:#ffffff !important; }


.esriAnalysisExpressionGrid .dgrid-cell {
  border: none;
}
.esriAnalysisExpressionGrid .ui-widget {
  margin: 10px;
}
/*
.esriAnalysisExpressionGrid .filed-id {
  width: 5%;
  padding: 3px;
}*/

.esriAnalysisExpressionGrid .field-operator .ui-icon {
  background-image: none;
  width: 0px;
}

.esriAnalysisExpressionGrid .field-operator {
  width: 80%;
  padding: 3px;
}

.esriAnalysisExpressionGrid .field-operator .dijitToggleButton {
  margin: -10px 0 0 0;
}

.esriAnalysisExpressionGrid .field-operator .dgrid-expando-icon {
  white-space: pre;
}

.esriAnalysisExpressionGrid .field-operator .esriAnalysisOperatorButton {
  width: 32px;
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

.esriAnalysisExpressionGrid .field-operator .esriAnalysisOperatorButton .dijitButtonText {
  padding: 0 0.1em;
}

.esriAnalysisExpressionGrid .esriAnalysisExpression {
  border:1px solid #469df5;
  padding: 0 5px;
  /*overflow: hidden;*/
  /*white-space:nowrap;*/
  text-overflow:ellipsis;
  width:99%;
  /*display:inline-block;*/
}

.esriAnalysisExpressionGrid .field-action {
  width: 10%;
  padding: 3px;
}

.esriAnalysis .esriAnalysisEditIcon {
  background-image: url("../images/EditClause.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;  
}

.esriAnalysis .esriAnalysisEditDisabledIcon {
  background-image: url("../images/EditClauseDisabled16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;  
}

.esriAnalysis .esriAnalysisRemoveIcon {
  background-image: url("../images/GenericEraser16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;  
}

.esriAnalysis .esriAnalysisRemoveDisabledIcon {
  background-image: url("../images/GenericEraserDisabled16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;  
}


.esriAnalysis .esriAnalysisGroupIcon {
  background-image: url("../images/ClausesGroup16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisUngroupIcon {
  background-image: url("../images/ClausesUngroup16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisUngroupDisabledIcon {
  background-image: url("../images/ClausesUngroup16disabled.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisGroupDisabledIcon {
  background-image: url("../images/ClausesGroup16disabled.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisTextIcon {
  background-image: url("../images/EditView.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisGridIcon {
  background-image: url("../images/GridView.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisSelectFilterIcon {
  background-image: url("../images/SelectInteractively16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysis .esriAnalysisAttributeFiltercon {
  background-image: url("../images/SelectByAttributeFilter16.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 0.25px;    
}

.esriAnalysisExpressionGrid .field-action .dijitButton {
  margin: 0 0.1em;
}

.esriSimpleForm table.esriFormTable td.dgrid-cell-padding {
  padding: 3px;
}

.esriSimpleForm .field-operator table.esriExpressionTable {
  width: 100%;
}

.esriSimpleForm .field-operator table.esriExpressionTable td.expressionTd {
  padding: 3px;
}


.esriAnalysisExpressionGrid  .dgrid-scroller {
  overflow-y: auto;
}

.esriAnalysis.esriExpressionForm .dijitSelectLabel{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:100%;
}

.esriAnalysis.esriExpressionForm .dijitSelect .dijitButtonText {
  text-align: left;
  width:95%;
}

.esriRtl .esriAnalysis.esriExpressionForm .dijitSelect .dijitButtonText {
  text-align: right;
}

.esriActionButton .dijitButtonNode {
  border: none;
  height: 16px;
  padding: 0.15em;
}

.esriAnalysisNumberLabel {
  font-weight: bold;
}


/* Enrich Tool using geonerichment configurations*/
.EnrichOptionsPage_Fields {
  width: 100% !important; /*added*/
}


.esriAnalysis .ShoppingCart {
  z-index: 0;
  position: relative;
  top: 0px; 
  right: 0px;
  cursor: pointer;
}

.esriAnalysis .ShoppingCart div.ShoppingCartRow {
  position: relative;
  color: #000;
  border: 1px solid white;
  background-color: #fff;
  line-height: 30px;
  padding-left: 5px;
}

.esriAnalysis .ShoppingCart .ShoppingCartRowCloser {
  background-image: url('../images/close.gif');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.esriAnalysis .ShoppingCart_CounterDivLeftBorder, .esriAnalysis .ShoppingCart_CounterDivRightBorder {
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;  
}

.esriAnalysis .selectLabel {
  font-style: italic;
  text-align: center;
  width: 100%;
  font-weight: lighter;
}


.esriAnalysis .dijitPlaceHolder {
  color : #aaa;
  font-style: italic;
  left: 0.3em;
  position: absolute;
  top: 0.2em;
}

.esriAnalysisDriveMode .dijitSelectMenu .dijitMenuItemLabel {
  padding: 0.5em 0.2em;
}

.esriAnalysis .esriExtentLabel {
  font-size:smaller;
  display: inline-block;
 
}

.esriAnalysis .esriExtentCreditsCtr {
  width: 100%;
  padding: 0.5em 0 1em 0;
}

.esriAnalysis .esriPointIcon {
  background-image: url(../images/GreyPin16.png); 
  background-repeat: no-repeat;
  width:16px; 
  height:16px;
}

.esriAnalysis .esriAnalysisSubmitButton {
  max-width:90%;
  margin-left: 15%;
}

.esriRtl .esriAnalysis .esriAnalysisSubmitButton {
  max-width:90%;
  margin-right: 15%;
}

@media screen and (max-width: 480px){ 
  .esriAnalysis .esriAnalysisSubmitButton {
    margin-left: 1em;
  }
  .esriRtl .esriAnalysis .esriAnalysisSubmitButton {
    margin-right: 1em;
  }
}

.esriAnalysisStepsLabel {
  font-weight: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.esriAnalysis .analysisCategoryCtr {
  border: none;
}

.esriAnalysis .toolContainer .toolContent {
  margin-top: -2.75em;
}

.esriAnalysis .analysisCategoryCtr .dijitTitlePaneContentInner {
  padding: 2px 10px;
}

.esriAnalysis .dijitSelect {
  height: 2em;
}

.esriLoading  {
  background: url(../../images/ajax-loader-transparent.gif) center center no-repeat;
  width: 16px;
  height: 16px;
}


.allocateIcon {
  background-image: url("../images/Allocate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  margin: 3px 5px;
  position:relative;
  top: 5px;
}

.maximizeIcon {
  background-image: url("../images/maximize.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  margin: 3px 5px;
  position:relative;
  top: 5px;
}

.minimizeIcon {
  background-image: url("../images/minimize.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  margin: 3px 5px;
  position:relative;
  top: 5px;
}

.maximizelimIcon {
  background-image: url("../images/maximizelim.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  margin: 3px 5px;
  position:relative;
  top: 5px;
}

.percentageIcon {
  background-image: url("../images/percentage.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 80px;
  margin: 3px 5px;
  position:relative;
  top: 5px;
}

.goalIcon {
  background-image: url("../images/transparent.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  margin: 10px;;
}

/*Choose Best Tool uses Close Icon also as Back Icon for panel navigation*/
.esriChooseBestTool .esriAnalysisCloseIcon {
  background-image: url("../../../css/calcite/images/ago_sprite.png");
  background-position: -30px -10px;
  width: 14px;
  height: 14px;
  display:block; 
}

.esriRtl .esriChooseBestTool .esriAnalysisCloseIcon {
  background-position: -45px -10px;
}
